
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <article>
                    <img src="/assets/blog-thumb-1.jpg" alt="" class="img-responsive">
                    <div class="blog-post animateOnScroll" data-animation="fadeInUp">
                        <div class="blog-post-header">
                            <p class="categories"><a href="#">cabbage</a> <a href="#">spring</a> <a href="#">vegetarian</a>
                            </p>
                        <!-- <h2><a href="blog-post.html">Lunch table</a></h2> -->
                            <h2><%= link_to "Lunch table", blog_show_path(:id)%></h2>
                            <div class="row">
                                <div class="col-sm-6 blog-post-author">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Jean Dow</a>
                                </div>
                                <div class="col-sm-6 blog-post-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <time datetime="2016-03-03">March 3, 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-body">
                            <p>This is the blog brief. Here you explain in brief about the blog but also say something will entice your visitors to want to read some more. So your introductiion of your blog should be very enticing.</p>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/assets/blog-thumb-2.jpg" alt="" class="img-responsive">
                    <div class="blog-post animateOnScroll" data-animation="fadeInUp">
                        <div class="blog-post-header">
                            <p class="categories"><a href="#">spring</a> <a href="#">vegetarian</a>
                            </p>
                            <h2><%= link_to "Aenean tincidunt rhoncus metus", blog_show_path(:id)%></h2>
                            <!-- <h2><a href="blog-post.html">Aenean tincidunt rhoncus metus</a></h2> -->
                            <div class="row">
                                <div class="col-sm-6 blog-post-author">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">John Dow</a>
                                </div>
                                <div class="col-sm-6 blog-post-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <time datetime="2016-05-03">May 3, 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-body">
                            <p>This is the blog brief. Here you explain in brief about the blog but also say something will entice your visitors to want to read some more. So your introductiion of your blog should be very enticing.</p>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/assets/blog-thumb-1.jpg" alt="" class="img-responsive">
                    <div class="blog-post animateOnScroll" data-animation="fadeInUp">
                        <div class="blog-post-header">
                            <p class="categories"><a href="#">cabbage</a> <a href="#">spring</a> <a href="#">vegetarian</a>
                            </p>
                             <h2><%= link_to "Lunch table", blog_show_path(:id)%></h2>
                            <div class="row">
                                <div class="col-sm-6 blog-post-author">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Jean Dow</a>
                                </div>
                                <div class="col-sm-6 blog-post-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <time datetime="2016-03-03">March 3, 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-body">
                            <p>This is the blog brief. Here you explain in brief about the blog but also say something will entice your visitors to want to read some more. So your introductiion of your blog should be very enticing..</p>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/assets/blog-thumb-2.jpg" alt="" class="img-responsive">
                    <div class="blog-post animateOnScroll" data-animation="fadeInUp">
                        <div class="blog-post-header">
                            <p class="categories"><a href="#">spring</a> <a href="#">vegetarian</a>
                            </p>
                             <h2><%= link_to "Aenean tincidunt rhoncus metus", blog_show_path(:id)%></h2>
                            <!-- <h2><a href="blog-post.html">Aenean tincidunt rhoncus metus</a></h2> -->
                            <div class="row">
                                <div class="col-sm-6 blog-post-author">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">John Dow</a>
                                </div>
                                <div class="col-sm-6 blog-post-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <time datetime="2016-05-03">May 3, 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-body">
                            <p>This is the blog brief. Here you explain in brief about the blog but also say something will entice your visitors to want to read some more. So your introductiion of your blog should be very enticing..</p>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/assets/blog-thumb-1.jpg" alt="" class="img-responsive">
                    <div class="blog-post animateOnScroll" data-animation="fadeInUp">
                        <div class="blog-post-header">
                            <p class="categories"><a href="#">cabbage</a> <a href="#">spring</a> <a href="#">vegetarian</a>
                            </p>
                            <h2><%= link_to "Lunch table", blog_show_path(:id)%></h2>
                            <!-- <h2><a href="blog-post.html">Lunch table</a></h2> -->
                            <div class="row">
                                <div class="col-sm-6 blog-post-author">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">Jean Dow</a>
                                </div>
                                <div class="col-sm-6 blog-post-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <time datetime="2016-03-03">March 3, 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-body">
                            <p>This is the blog brief. Here you explain in brief about the blog but also say something will entice your visitors to want to read some more. So your introductiion of your blog should be very enticing..</p>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/assets/blog-thumb-2.jpg" alt="" class="img-responsive">
                    <div class="blog-post animateOnScroll" data-animation="fadeInUp">
                        <div class="blog-post-header">
                            <p class="categories"><a href="#">spring</a> <a href="#">vegetarian</a>
                            </p>
                            <h2><%= link_to "Aenean tincidunt rhoncus metus", blog_show_path(:id)%></h2>
                            <!-- <h2><a href="blog-post.html">Aenean tincidunt rhoncus metus</a></h2> -->
                            <div class="row">
                                <div class="col-sm-6 blog-post-author">
                                    <i class="fa fa-user" aria-hidden="true"></i> <a href="#">John Dow</a>
                                </div>
                                <div class="col-sm-6 blog-post-date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <time datetime="2016-05-03">May 3, 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-body">
                            <p>This is the blog brief. Here you explain in brief about the blog but also say something will entice your visitors to want to read some more. So your introductiion of your blog should be very enticing..</p>
                        </div>
                    </div>
                </article>

                <nav class="text-center">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li class="disabled"><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <aside class="col-md-3 sidebar">
                <!-- <div class="block">
                    <h3><span>Blog menu</span></h3>
                    <nav>
                        <ul class="nav">
                            <li><a href="blog-index.html">Blog no sidebars</a>
                            </li>
                            <li><a href="blog-left-sidebar.html">Blog left sidebar</a>
                            </li>
                            <li class="active"><a href="blog-right-sidebar.html">Blog right sidebar</a>
                            </li>
                            <li><a href="blog-post.html">Blog post</a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
                <div class="block">
                    <h3>Recent posts</h3>
                    <div class="row recent-post">
                        <div class="col-sm-5">
                            <img src="/assets/recent-post-1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-7 recent-text">
                            <h5><%= link_to "Blog title here", blog_index_path%></h5>
                            <time datetime="2016-03-03">March 3, 2016</time>
                        </div>
                    </div>
                    <div class="row recent-post">
                        <div class="col-sm-5">
                            <img src="/assets/recent-post-2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-7 recent-text">
                           <h5><%= link_to "Blog title here", blog_index_path%></h5>
                            <time datetime="2016-05-03">May 3, 2016</time>
                        </div>
                    </div>
                    <div class="row recent-post">
                        <div class="col-sm-5">
                            <img src="/assets/recent-post-1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-7 recent-text">
                           <h5><%= link_to "Blog title here", blog_index_path%></h5>
                            <time datetime="2016-03-03">March 3, 2016</time>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h3>Recent comments</h3>
                    <blockquote>
                        <p>All the recent comments go here so people can see what others are saying about your blog.</p>
                        <footer>Jean Dow in <cite title="Lunch table"><%= link_to "Lunch table", blog_index_path%></cite>
                        </footer>
                    </blockquote>
                    <blockquote>
                        <p>All the recent comments go here so people can see what others are saying about your blog.</p>
                        <footer>Jean Dow in <cite title="Lunch table"><%= link_to "Lunch table", blog_index_path%></cite>
                        </footer>
                    </blockquote>
                </div>
                <div class="block">
                    <h3>Newsletter</h3>
                    <form>
                        <div class="animated-form-control form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail..." required="required" aria-required="true" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-custom">Subscribe Now</button>
                        </div>
                    </form>
                </div>
                <div class="block">
                    <h3>About</h3>
                    <img src="/assets/about.jpg" alt="" class="img-responsive">
                    <div class="text">
                        <p>This could a brief description of the author of the blog. It could briefly state his authority on the issue being blogged about</p>
                    </div>
                </div>
                <div class="block">
                    <h3>Tags</h3>
                    <div class="tags">
                        <a href="#" class="btn btn-default btn-xs">Vegetables</a>
                        <a href="#" class="btn btn-default btn-xs">Food</a>
                        <a href="#" class="btn btn-default btn-xs">Lunch</a>
                        <a href="#" class="btn btn-default btn-xs">Carot</a>
                        <a href="#" class="btn btn-default btn-xs">Gluten free</a>
                    </div>
                </div>
                <div class="block">
                    <h3>Keep in touch</h3>
                    <p class="social">
                        <a href="#"><i class="fa fa-facebook social-icon-small" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter social-icon-small" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram social-icon-small" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube social-icon-small" aria-hidden="true"></i></a>
                    </p>
                </div>
            </aside>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/animate-on-scroll.js"></script>
    <script src="/assets/script.js"></script>